.portlet{ background-color: #fff}
/*--public $decorationCssClass='portlet-decoration';--*/
.Mydecoration-portlet{  		/*header*/
	padding: 3px 9px;
	/*background: #000099; /*biru aj*/
	/*background: #555;  /*abu gelap*/
	background: url(../../images/img_porlet_menu/portlet_left.gif) no-repeat left; 
	
	/*border-left: 1px solid #eee;*/	
	border-left: 0px solid #6FACCF;
	-moz-border-radius: 5px; -webkit-border-radius: 5px;
}
/*--Header Title--*/
.Mytitle-portlet{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color:#fff; /* title color */
	background: url('../../images/img_porlet_menu/portlet_right.gif') repeat-x left; 
}

/*----public $contentCssClass='portlet-content';-----*/
.Mycontent-portlet {
	margin: 0px;
	padding: 0px;
	/*background:#EFFDFF;   /*content bg color */
	background:#fff;	/*content bg color */
}
.Mycontent-portlet ul{
}
.Mycontent-portlet li{
	font-size: 11px;
	text-decoration: none;
	list-style-type: none; 
}

/*----------------- CLASS OPERATION (CONTENT MENU)-----------------*/
.Myoperations { margin:0 }
.Myoperations li{ border-top: 1px dotted #bbb; margin-right:10px}
.Myoperations li ul li{ border-top: 1px dotted #F1e1e1; }
.Myoperations li a{
	display:block; 
	padding:0px 14px 2px 4px;  
	text-decoration:none; 
	/*font: bold 11px Arial;*/
	font: normal 1.1em "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	color: #555 ;	
}
.Myoperations li a:visited{color: #555 ;}
.Myoperations li a:hover{
	/*background: #80CFFF;   -----biru muda*/
	/*background:#e60; color:#fff;  /*bg:orange txt:putih */
	
	background:#FFE2C6; color:#000;   /*bg:abu txt:hitam | #fff |#e87b10:orange */
	-moz-border-radius: 5px; -webkit-border-radius: 5px; 
}